<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataToSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataToSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DataToSettings.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Age" serializeAs="String">
                <value>0</value>
            </setting>
        </DataToSettings.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DataToSettings.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Release</value>
            </setting>
            <setting name="ApplicationNameDebug" serializeAs="String">
                <value>Debug</value>
            </setting>
        </DataToSettings.Properties.Settings>
    </applicationSettings>
</configuration>